.box{
    background-color: red;
    height: 200px;
    width:200px;
    margin:5px;
}

.box1{
    /* flex-grow: 1; */
    /* flex-shrink: 10; */
}

.box2{
    /* flex-grow: 2; */
    /* flex-shrink: 5; */
}
.box3{
    /* flex-grow: 3; */
}

.container{
    display: flex;
    justify-content:center;
    /* flex-wrap: wrap; */
    flex-direction: column;

}